<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class="com.sit.model.Student" id="stu" scope="prototype">
    	<property name="rollno" value="11"></property>
    	<property name="name" value="Rohan"></property>
    	<property name="email" value="ruvh@gmail.com"></property>
    	<property name="addr" value="Pune"></property>
    
    	<property name="subject">
    	<list>
    		<value>Marathi</value>
    	    <value>English</value>
    		<value>Hindi</value>
    	</list>
    	</property>
    	
    	<property name="mobileno">
    	<set>
    		<value>7397850374</value>
    	    <value>9579144734</value>
    	</set>
    	</property>
    	
    	<property name="course">
    	<map>
			<entry key="Java"  value="6month"></entry>    	
			<entry key="Pyhton" value="4month"></entry>
    	</map>
    	
    	</property>
    </bean>

</beans>